@charset "utf-8";
/* feuille de style CSS */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/* selecteur {propriété:valeur,propriété:valeur1;}*/

/*------------------------------------ RESET ------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}
/*------------------------------------ FIN RESET ------------------------------------*/

/*------------------------------------ BALISE ------------------------------------*/
h1 {
	font-size: 5em;
}

h2 {
    color: white;
    font-size: 2em;
}

h3 {
    font-weight: bold;
}

h4 {
	
}

nav {
	
}

/*--------------------------------- GERANT ---------------------------------*/

.input{
    border: none;
    background-color: unset;
}

.button{
    display: inline-block;
    box-shadow: none;
    appearance: none;
    outline: 0;
    background-color: #008B8B;
    height: 45px;
    line-height: 42px;
    padding: 0 30px;
    font-size: 20px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: all .5s;
    transition-timing-function: cubic-bezier(.2, 3, .4, 1);
    user-select: none;
    margin: auto;
}

/* Sert au background du menu des onglets */
.tabs a, body {
	background-color: #008B8B;
	font-family: Arial;
}

.tabs a,.tabs-content{
    box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)
}

/* Sert à mettre la couleur du texte aux onglets */
a{
    text-decoration:none;
    color:#fff;
    font-weight: bold;
}
ul.tabs{
   margin-left: 70px;
}

.tabs li,ul.tabs{
    padding:0;
    list-style:none;
}

.tabs li{
    float:left;
    display:block;
}

.tabs:after{
    display:table;
    content:' ';
    clear:both;
}

.tabs a{
    display:inline-block;
    padding:10px 15px;
}

.tabs .active a,.tabs-content{
    background-color:#fff;
    color: #008B8B;
}

.tabs-content{
    position:relative;
    z-index:3;
    padding:50px;
    margin-left:70px;
    margin-right:70px;
}

/* Sert au texte */
.tab-content{
    display:none;
    color: black;
}

.tab-content.active{
    display:block;
}

.fade{
    opacity:0;
    transition:opacity .3s
}
.fade.in{
    opacity:1
}

.table-header {
    background-color: #008B8B;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    border-width:1.5px; 
    border-style:solid; 
    border-color:black;
    font-weight: bold;
    
}
.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

th {
    border-width:1.5px; 
    border-style:solid; 
    border-color:black;
    color: white;
}

td {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}

@media screen and (max-width: 740px) {
    
    .tabs-content{
        width: 50%;
    }
    
}

@media screen and (max-width: 480px) {
    
}
/*--------------------------------------------------------------------------*/

section {
	
}

article {
	margin-bottom: 2%;
}

/*------------------------------------ HEADER ------------------------------------*/

header {
	margin-bottom: 50px;
}

#img_demeter_defaut {
	height: 100%;
	width: 140px;
	float: left;
}

#bandeau-accueil {
	background-color: white;
	height: 80px;
        margin-bottom: 20px;
}

.liDeNav {
	display: inline;
	padding-left: 20px;
	float: left;
}

#button-panier {
	float: right;
	margin-top: 20px;
	margin-right: 2%
}

#button-livreur {
	
}

/*------------------------------------ FIN HEADER ------------------------------------*/

/*------------------------------------ DEBUT FOOTER ------------------------------------*/

footer {
	background-color: white;
	margin-top: 5%;;
	height: 250px;
        text-align: center;
        margin-bottom: 0px;
}

/*------------------------------------ FIN FOOTER ------------------------------------*/

/*--- FIN BALISE ---*/
#wrapper {
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #a7ed1d;
}

.clear {
	clear: both;
}

/*------------------------------------ ARTICLE ACCUEIL ------------------------------------*/
body {
	background-color: #8A8A8A;
}

#img_defaut {
	height: 100%;
	width: 40%;
	float: left;
	margin-right: 5%;
}

#div-principal {
	background-color: #E3E3E3;
	margin-left: 1%;
	margin-top: 1%;
	margin-right: 1%;
}

#ligne-div-principal {
	color: black;
}

#h1-nos-produits {
	margin-left: 1%
}

.accueilFruitsLegumes {
	background-color: white;
	border: solid 1px black;
}

#artTacos1 {
	width: 49%;
	float: left;
}

#artTacos2 {
	width: 49%;
	float: right;
}

.div-menus {
	margin-right: 2%;
	float: right;
	width: 50%;
}



.form-check-input{
	margin-bottom: 3%;
}

.form-select{
	width: 20%;
	margin-bottom: 5%;
	float: left;
	margin-right: 2%;
}

/*------------------------------------ FIN PAGE NOS PRODUITS ------------------------------------*/
/*------------------------------------ DEBUT PAGE PANIER ------------------------------------*/
#artPanier1 {
	overflow: scroll;
	border: #000000 1px solid;
	width: 33%;
	height: 450px;
	margin-left: 1%;
	float: left;
}

#artPanier2 {
	width: 30%;
	height: 350px;
	margin-left: 3%;
	float: left;
	border-right: black 2px solid
}

#artPanier3 {
	width: 30%;
	height: 350px;
	margin-left: 3%;
	float: left;
}

#artPanier4 {
	width: 30%;
	height: 50px;
	margin-left: 27%;
	margin-top: 3%;
	float: left;
}

ligneVertical {
	border-left: 2px solid #000;
	display: inline-block;
	height: 130px;
	margin: 0 20px;
}

#tr_produitSelectionnes {
	font-size: 1.5em;
	background-color: #8A8A8A;
}

.tableau_produitSelectionnes {
	border: black 1px solid;
	overflow: scroll;
	font-size: 1.2em;
}

.td_imp {
	background-color: #CFCFCF;
}

.td_pair {
	
}

#div_livraison {
	border-right: black 2px solid;
	width: 30%;
	float: right;
}

#aEmporter {
	margin-top: 30%;
}

/*------------------------------------ FIN PAGE PANIER ------------------------------------*/

@media screen and (max-width: 740px) {
	#artTacos1 {
		display: block;
		float: none;
		width: 98%;
		margin-left: 1%;
	}
	#artTacos2 {
		display: block;
		float: none;
		width: 98%;
		margin-left: 1%;
	}
	#artTacos3 {
		display: block;
		float: none;
		width: 98%;
		margin-left: 1%;
	}
	#artTacos4 {
		display: block;
		float: none;
		width: 98%;
		margin-left: 1%;
	}
	#img_chevre-miel_defaut {
		height: 100%;
		width: 40%;
		float: left;
		margin-right: 5%;
	}
	#img_savoyard_defaut {
		height: 100%;
		width: 40%;
		float: left;
		margin-right: 5%;
	}
	#img_3-fromages_defaut {
		height: 100%;
		width: 40%;
		float: left;
		margin-right: 5%;
	}
	#img_black-forest_defaut {
		height: 100%;
		width: 40%;
		float: left;
		margin-right: 5%;
	}
	#button-panier {
		font-size: 0.5em;
		margin-top: 27px;
	}
	#button-livreur {
		font-size: 0.5em;
	}
	#nav-menu {
		font-size: 0.5em;
	}
	#button-gerant {
		font-size: 0.5em;
	}
	#button-cuisine {
		font-size: 0.5em;
	}
	.liDeNav {
		margin-top: 27px;
	}
} /*fermeture du media max-width 740px*/
@media screen and (max-width: 480px) {
	#artTacos1, #artTacos2, #artTacos3, #artTacos4 {
		display: block;
		float: none;
		width: 98%;
		margin-right: 1%;
	}
} /*fermeture du media max-width 480px*/